<?xml version="1.0" encoding="UTF-8"?>
<!--
 - Copyright 2012-2017 Kaixindai Financing Services Jiangsu Co., Ltd.
 -  
 - Licensed under the Apache License, Version 2.0 (the "License");
 - you may not use this file except in compliance with the License.
 - You may obtain a copy of the License at
 -  
 -      http://www.apache.org/licenses/LICENSE-2.0
 -  
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 - See the License for the specific language governing permissions and
 - limitations under the License.
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>talos-dashboard</display-name>
	<description>github.com/kxjf/talos</description>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring/applicationContext.xml,
			classpath:application/spring-application-*.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>Spring MVC DispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:spring/applicationContext.xml,
				classpath:application/spring-application-*.xml
				classpath:/spring/spring-mvc.xml
			</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Spring MVC DispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>400</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>411</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/error</location>
	</error-page>
	<error-page>
		<error-code>506</error-code>
		<location>/error</location>
	</error-page>
</web-app>